$color-primary-light: #ffffff;
$color-primary-dark: #000000;
$color-secondary-dark: #14213d;
$color-secondary-light: #e5e5e5;
$color-warning: #fca311;
$color-danger: #ec404f;
$color-background: rgb(235, 235, 235)
