@import '../../styles/index.scss';

.results {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  min-height: 50vh;
  max-height: 900px;
  padding: 3rem;
  text-align: center;
  color: $color-secondary-dark;

  table{
    margin: 0 auto;
    font-size: 2rem;
    padding: 1em 1em 0 1em;
    text-align: center;
    th, td{
      box-shadow: 0px 0px 10px $color-warning;
      padding: 0.3em 1em;
      border: 1px solid $color-warning;
    }
  }
  .solved{
    background-color: $color-warning;
  }
}
@media only screen and (max-width: 48rem) {
  .results {
    margin-bottom: 0;
    padding: 0rem;
    font-size: 0.8rem;
  }
  table{
    padding: 0.2em 0.2em 0em 1em
  }
  th, td{
    padding: 0.1em 0.3em;
  }
}