@import '../../styles/index.scss';

.historyWrapper{
    margin-top: 130px;
}
.historyArea{
    padding: 5px 10px;
    width: 20rem;
    height: 20rem;
    min-height: 10rem;
    max-height: 50rem;
    min-width: 10rem;
    max-width: 100%;
    // background-color: $color-warning;
    border: 1px solid $color-warning;
    box-shadow: 0px 0px 10px $color-warning;
    color: $color-primary-dark;
  }
  