@import '../../styles/index.scss';


.simpleGrid{
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    max-height: 900px;
}
.grid{
    // z-index: 1;
    display: flex;
    line-height: 1;
    font-weight: 700;
    min-height: 1rem;
    min-width: 1rem;
    background-color: white;
}
.loading{
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.pipe{
    cursor: pointer;
    &:hover {
        background-color: $color-secondary-light;
    }
    &:active{
        background-color: $color-danger;
    }
}
.isDone{
    background-color: $color-warning;
}
.warning{
    text-align: center;
    padding: 3rem 2rem;
    h1{
        font-size: 3rem;
        color: $color-danger;
    }
}